name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1e204e9a9253d643386038d443f96446fa156a97

      - name: Run Tests in Docker
        run: bin/run-tests-in-docker.sh
